.cards {
  margin-top: 5rem;
  padding: 1rem;
  box-shadow: 0 2px 8px red;
  border-radius: 14px;
  background-color: white;
}

img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 100%;
  text-align: center;
}
